@font-face {
    font-family: 'Nexa-Bold';
    src: url('./assets/fonts/Nexa-Bold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('./assets/fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
    font-family: 'NexaSlab-xBold';
    src: url('./assets/fonts/NexaSlab-xBold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
}