<div class="popup-block js-active" data-control="Popup">
    <div class="popup-block__popup">
        <span class="popup-block__close"></span>
        <h2 class="popup-block__title">Feedback form</h2>
        <form class="popup-block__form">
            <input type="text" name="name" class="popup-block__field popup-block__field-name" placeholder="Name">
            <input type="text" name="email" class="popup-block__field popup-block__field-email" placeholder="Email">
            <textarea class="popup-block__field popup-block__field-text" placeholder="MesThank you!sage ..."></textarea>
            <input type="submit" name="submit" class="popup-block__submit" value="send">
        </form>
        <div class="popup-block__response">
            <p class="popup-block__response-text">Thank you!</p>
            <p class="popup-block__response-status">Your message has been successfully sent</p>
            <p class="popup-block__response-id">Your ID: <span class="popup-block__id js-id">999989</span></p>
        </div>
    </div>
</div>