.popup-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    
    &__popup {
        position: fixed;
        top: calc(50% - 230px);
        left: calc(50% - 320px);
        display: inline-block;
        width: 640px;
        border-radius: 10px;
        background-color: #fff;
        padding: 60px;
    }
    
    &__close {
        position: absolute;
        display: inline-block;
        width: 15px;
        height: 15px;
        top: 15px;
        right: 15px;
        background-color: #000;
    }
    
    &__form {
        display: none;
    }
    
    &__title {
        font-size: 30px;
        margin-bottom: 55px;
    }
    
    &__field {
        display: block;
        width: 228px;
        height: 35px;
        font-size: 14px;
        border: 1px solid #aaa;
        border-radius: 3px;
        margin-bottom: 25px;
        line-height: 33px;
        padding-left: 10px;
        
        &-text {
            width: 520px;
            max-width: 520px;
            height: 148px;
            max-height: 148px;
        }
    }
    
    &__submit {
        width: 120px;
        height: 40px;
        background-color: #86c840;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    &__response {
        
        &-text {
            font-size: 17px;
            margin-bottom: 15px;
        }
        
        &-status {
            font-size: 14px;
            margin-bottom: 5px;
        }
        
        &-id {
            font-size: 14px;
        }
    }
}