<div class="popup-block">
    <div class="popup-block__popup">
        <span class="popup-block__close"></span>
        <h2 class="popup-block__title">Feedback form</h2>
        <form>
            <input type="text" name="name" class="popup-block__field popup-block__field-name" placeholder="name">
            <input type="text" name="email" class="popup-block__field popup-block__field-email" placeholder="email">
            <textarea class="popup-block__field popup-block__field-text " placeholder="text"></textarea>
            <input type="submit" name="submit" class="popup-block__submit" value="send">
        </form>
    </div>
</div>