<header class="header">
    <div class="header__logo-block">
        <span class="header__logo-circle"></span>
        <span class="header__logo-text header__logo-text_green">lime</span><!--
        --><span class="header__logo-text">light</span>
    </div>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__list-item">
                <a href="#" class="header__list-item-link header__list-item-link_active">
                <i class="icon icon-home-in-menu card-block__hover-block-icon"></i>
                </a>
            </li>
            <li class="header__list-item">
                <a href="#" class="header__list-item-link">Blog</a>
            </li>
            <li class="header__list-item">
                <a href="#" class="header__list-item-link">Fonts</a>
            </li>
            <li class="header__list-item">
                <a href="#" class="header__list-item-link">Templates</a>
            </li>
            <li class="header__list-item">
                <a href="#" class="header__list-item-link">Icons</a>
            </li>
            <li class="header__list-item">
                <a href="#" class="header__list-item-link">Wordpress</a>
            </li>
        </ul>
    </nav>
</header>