.header {
    display: grid;
    grid-template-columns: 1fr 570px;
    height: 110px;
    line-height: 110px;
    width: 940px;
    margin: 0 auto;
    
    @include adapt(tablet) {
        width: 100%;
        grid-template-columns: 1fr 2fr;
    }
    
    
    &__logo {
        
        &-circle {
        display: inline-block;
        vertical-align: top;
        width: 35px;
        height: 35px;
        background-image: linear-gradient(to right, #86c840 0%, #72a839 60%);
        border-radius: 50%;
        position: relative;
        top: 36px;
        margin-left: 10px;
        
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: linear-gradient(to right, #f6e73b 0%, #cec235 60%);
                border-radius: 50%;
                top: calc(50% - 10px);
                left: calc(50% - 10px);
            }
        }
        
        &-text {
            text-transform: uppercase;
            font-family: 'Nexa-Bold';
            font-size: 24px;
            
            &_green {
                color: #86c840;
            }
        }
    }
    
    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
        @include adapt(phone) {
            display: none;
        }
        
        &-item {
            position: relative;
            display: inline-block;
            font-size: 16px;
            text-align: center;
            
            &-link {
                text-decoration: none;
                font-family: 'Myriad Pro', sans-serif;
                color: #222;
                
                &_active {
                    
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 31%;
                        left: 46%;
                        width: 8px;
                        height: 8px;
                        background-color: #86c840;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}