<footer class="footer">
    <ul class="footer__list">
        <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Home</a>
        </li>
        <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">About</a>
        </li>
        <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Archive</a>
        </li>
        <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Contact</a>
        </li>
    </ul>
    <div class="footer__social-block">
        <a href="#" class="footer__social-item">
            <i class="icon icon-twitter footer__social-item-icon"></i>
        </a>
        <a href="#" class="footer__social-item">
            <i class="icon icon-fb footer__social-item-icon footer__social-item-icon_fb"></i>
        </a>
        <a href="#" class="footer__social-item">
            <i class="icon icon-pint footer__social-item-icon"></i>
        </a>
        <a href="#" class="footer__social-item">
            <i class="icon icon-gg footer__social-item-icon"></i>
        </a>
    </div>
    <div class="footer__copyright">© Copyright 2013 DesignerFirst.com</div>
</footer>