@import './assets/scss/reset';
@import './assets/scss/adapt';
@import './view/header/header';
@import './view/banner/banner';
@import './view/main/main';
@import './view/popup/popup';

.list-of {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: #555;

    .image {
        display: block;
        height: 12em;
    }

    .button {
        color: #333;
        display: inline-block;
        width: 7.8em;
        text-decoration: none;
        text-align: center;
        line-height: 1.5em;
        border: .06em solid #0066cc;
    }

    .next {
        margin-left: 1.5em;
    }
}
