<!DOCTYPE html>
<html>
<head>
    <title>Eset</title>
    <link rel="stylesheet" type="text/css" href="./sprite/sprite.css">
</head>
<body>
    <%= require('html-loader!./view/header/header.html') %>
    <%= require('html-loader!./view/banner/banner.html') %>
    <%= require('html-loader!./view/main/main.html') %>
    <%= require('html-loader!./view/banner/banner.html') %>
    <!-- <%= require('html-loader!./view/popup/popup.html') %> -->
    <%= require('html-loader!./view/footer/footer.html') %>
    <!-- <div id="listOf" class="list-of"></div> -->
</body>
</html>