<main class="content">
    <div class="title-block">
        <h2 class="title-block__title">Fresh Freebies</h2>
        <p class="title-block__description">Download Till Your Heart’s Content!</p>
    </div>
    <section class="content__block">
        <div class="card-block js-active" data-control="CardBlock">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                    <span class="card-block__hover-block-eye">
                        <i class="icon icon-eye card-block__hover-block-icon"></i>
                        328
                    </span>
                    <span class="card-block__hover-block-text">
                        <i class="icon icon-dialog card-block__hover-block-icon"></i>
                        12
                    </span>
                    <span class="card-block__hover-block-download">
                        <i class="icon icon-download card-block__hover-block-icon"></i>
                        128
                    </span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic">
                   <i class="icon icon-chevron card-block__info-block-pic-icon"></i>
               </span>
            </div>
        </div>
        <div class="card-block js-active" data-control="CardBlock">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                    <span class="card-block__hover-block-eye">
                        <i class="icon icon-eye card-block__hover-block-icon"></i>
                        328
                    </span>
                    <span class="card-block__hover-block-text">
                        <i class="icon icon-dialog card-block__hover-block-icon"></i>
                        12
                    </span>
                    <span class="card-block__hover-block-download">
                        <i class="icon icon-download card-block__hover-block-icon"></i>
                        128
                    </span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic">
                   <i class="icon icon-chevron card-block__info-block-pic-icon"></i>
               </span>
            </div>
        </div>
        <div class="card-block js-active" data-control="CardBlock">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                    <span class="card-block__hover-block-eye">
                        <i class="icon icon-eye card-block__hover-block-icon"></i>
                        328
                    </span>
                    <span class="card-block__hover-block-text">
                        <i class="icon icon-dialog card-block__hover-block-icon"></i>
                        12
                    </span>
                    <span class="card-block__hover-block-download">
                        <i class="icon icon-download card-block__hover-block-icon"></i>
                        128
                    </span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic">
                   <i class="icon icon-chevron card-block__info-block-pic-icon"></i>
               </span>
            </div>
        </div>
        <div class="card-block js-active" data-control="CardBlock">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                    <span class="card-block__hover-block-eye">
                        <i class="icon icon-eye card-block__hover-block-icon"></i>
                        328
                    </span>
                    <span class="card-block__hover-block-text">
                        <i class="icon icon-dialog card-block__hover-block-icon"></i>
                        12
                    </span>
                    <span class="card-block__hover-block-download">
                        <i class="icon icon-download card-block__hover-block-icon"></i>
                        128
                    </span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic">
                   <i class="icon icon-chevron card-block__info-block-pic-icon"></i>
               </span>
            </div>
        </div>
        <div class="card-block js-active" data-control="CardBlock">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                    <span class="card-block__hover-block-eye">
                        <i class="icon icon-eye card-block__hover-block-icon"></i>
                        328
                    </span>
                    <span class="card-block__hover-block-text">
                        <i class="icon icon-dialog card-block__hover-block-icon"></i>
                        12
                    </span>
                    <span class="card-block__hover-block-download">
                        <i class="icon icon-download card-block__hover-block-icon"></i>
                        128
                    </span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic">
                   <i class="icon icon-chevron card-block__info-block-pic-icon"></i>
               </span>
            </div>
        </div>
        <div class="card-block js-active" data-control="CardBlock">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                    <span class="card-block__hover-block-eye">
                        <i class="icon icon-eye card-block__hover-block-icon"></i>
                        328
                    </span>
                    <span class="card-block__hover-block-text">
                        <i class="icon icon-dialog card-block__hover-block-icon"></i>
                        12
                    </span>
                    <span class="card-block__hover-block-download">
                        <i class="icon icon-download card-block__hover-block-icon"></i>
                        128
                    </span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic">
                   <i class="icon icon-chevron card-block__info-block-pic-icon"></i>
               </span>
            </div>
        </div>
    </section>
    
    <a href="#" class="content__more-button">
        more freebies
        <i class="icon icon-chevron content__more-button-icon"></i>
    </a>
</main>