<main class="content">
    <div class="title-block">
        <h2 class="title-block__title">Fresh Freebies</h2>
        <p class="title-block__description">Download Till Your Heart’s Content!</p>
    </div>
    <section class="content__block">
        <div class="card-block">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic"></span>
            </div>
        </div>
        <div class="card-block">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic"></span>
            </div>
        </div>
        <div class="card-block">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic"></span>
            </div>
        </div>
        <div class="card-block">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic"></span>
            </div>
        </div>
        <div class="card-block">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic"></span>
            </div>
        </div>
        <div class="card-block">
            <div class="card-block__image-block">
                <div class="card-block__hover-block">
                    <span class="card-block__hover-block-date">June 28, 2013</span>
                </div>
            </div>
            <div class="card-block__info-block">
               <h3 class="card-block__info-block-title">Responsive Showcase...</h3>
               <p class="card-block__info-block-description">Templates, PSD</p>
               <span class="card-block__info-block-pic"></span>
            </div>
        </div>
    </section>
</main>